{% extends 'convidados/menu.html' %}
{% load static %}
{% block title %}Cadastro de Convidados{% endblock %}
{% block body %}
<br>
<div class="container">
    <h1>Cadastro de Convidado</h1>
    <form class="row g-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-12">
            <label class="form-label">Nome Completo</label>
            {{form.nome}}
        </div>
        <div class="col-md-4">
            <label class="form-label">E-mail</label>
            {{form.email}}
        </div>
        <div class="col-md-4">
            <label class="form-label">CPF</label>
            {{form.cpf}}
        </div>
        <div class="col-md-4">
            <label class="form-label">Telefone</label>
            {{form.telefone}}
        </div>
        <div class="col-12">
            <label class="form-label">Endereço</label>
            {{form.endereco}}
        </div>
        <div class="col-12">
            <label class="form-label">Complemento</label>
            {{form.complemento}}
        </div>
        <div class="col-md-6">
            <label class="form-label">Cidade</label>
            {{form.cidade}}
        </div>
        <div class="col-md-4">
            <label class="form-label">UF</label>
            {{form.UF}}
        </div>
        <div class="col-md-2">
            <label class="form-label">CEP</label>
            {{form.cep}}
        </div>
        <div class="col-12">
            <label class="form-label">Foto</label>
            {{form.foto}}
        </div>
        <div class="col-md-12">
            <label class="form-label">Evento</label>
            {{form.eventos}}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock %}