{% extends 'convidados/menu.html' %}
{% load static %}
{% block title %}Lista de Convidados{% endblock %}
{% block body %}
<br>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome do Evento</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">Local</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
        <tr>
            <th scope="row">{{evento.id}}</th>
            <td>{{evento.nome}}</td>
            <td>{{evento.data}}</td>
            <td>{{evento.hora}}</td>
            <td>{{evento.local}}</td>
            <td>
                <a href="{{evento.id}}"><img src="{% static 'img/editar.png' %}" height="30px"></a>
                <a href="{{evento.id}}"><img src="{% static 'img/excluir.png' %}" height="30px"></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}