{% extends 'convidados/menu.html' %}
{% load static %}
{% block title %}Lista de Convidados{% endblock %}
{% block body %}
<br>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Foto</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Endereço</th>
            <th scope="col">Complemento</th>
            <th scope="col">Cidade</th>
            <th scope="col">UF</th>
            <th scope="col">CEP</th>
            <th scope="col">Eventos</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for c in convidados %}
        <tr>
            <th scope="row">{{c.id}}</th>
            <td><img src="{{c.foto.url}}" height="40px"></td>
            <td>{{c.nome}}</td>
            <td>{{c.email}}</td>
            <td>{{c.telefone}}</td>
            <td>{{c.endereco}}</td>
            <td>{{c.complemento}}</td>
            <td>{{c.cidade}}</td>
            <td>{{c.UF}}</td>
            <td>{{c.cep}}</td>
            <td>
                {% for e in c.eventos.all %}
                {{e.nome}}<br>
                {% empty %}
                Nenhum evento
                {% endfor %}
            </br>
            </td>
            <td>
                <a href="#"><img src="{% static 'img/editar.png' %}" height="30px"></a>
                <a href="#"><img src="{% static 'img/excluir.png' %}" height="30px"></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}